@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu/ubuntu-b-webfont.woff2") format("woff2");
  font-weight: 900;
  font-style: normal; }
@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu/ubuntu-light-webfont.woff2") format("woff2");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu/ubuntu-medium-webfont.woff2") format("woff2");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu/ubuntu-regular-webfont.woff2") format("woff2");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'Gagalin';
  src: url("../fonts/gagalin-regular-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Lifehack';
  src: url("../fonts/lifehack_medium-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
  line-height: 1.42;
  color: #2f3234;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body, html {
  height: 100%; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.wrapper {
  width: 100%;
  height: 100%;
  position: relative; }

.maincontent {
  height: 100%;
  min-height: 650px; }

.container {
  width: 940px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.section {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.31);
  min-width: 940px;
  min-height: 650px; }
  .section_centered {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

.order-link {
  min-width: 6.125rem;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: #e25028;
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.42;
  text-transform: uppercase;
  -webkit-transition: .5s;
  transition: .5s; }
  .order-link:hover {
    background-color: #cb411b; }

.section__title {
  color: #f9b43b;
  font-family: 'Gagalin';
  font-size: 72px;
  font-weight: 400;
  line-height: 1.42;
  margin: 0;
  padding-top: 60px; }
  .section__title_color_black {
    color: #2f3234; }
  .section__title_position_center {
    text-align: center; }

.hero {
  background-image: url("../img/bg/hero_bg.png");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px; }

.header__logo {
  margin-right: auto; }

.nav {
  margin-right: 0.9375rem; }

.nav__list {
  margin: 0;
  padding: 0; }

.nav__item {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap; }
  .nav__item:after {
    display: inline-block;
    vertical-align: middle;
    content: ' ';
    width: 5px;
    height: 5px;
    border-radius: 2.5px;
    background-color: #fff;
    margin: 0 12px; }
  .nav__item:last-child:after {
    display: none; }

.nav__link {
  color: #ffffff;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.42;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  -webkit-transition: .5s;
  transition: .5s; }
  .nav__link:hover {
    text-decoration: underline; }

.hero__container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.hero__content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 15%; }

.hero__img, .hero__description {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.hero__description {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.hero__description-text {
  color: #ffffff;
  font-family: 'Lifehack';
  font-size: 65px;
  font-weight: 500;
  line-height: 1; }

.best {
  background-image: url("../img/content/about/about_bg.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.best__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.best__item {
  margin-right: 20px; }
  .best__item:last-child {
    margin-right: 0; }

/*
.best__description {
  flex-direction: column;
  justify-content: center;
}
*/
.team {
  background: url("../img/content/team/team_bg.jpg") center center no-repeat;
  background-size: cover;
  position: relative; }

.team__container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 50%;
  background: rgba(47, 50, 52, 0.93);
  padding-left: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 50px; }

.team-acco__trigger {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .team-acco__trigger:before {
    content: "";
    height: 0;
    width: 0;
    border: 9px solid transparent;
    border-top-color: #f8b43a;
    border-bottom-width: 0px; }

.team-acco__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.team-acco__pic-img {
  border-radius: 50%; }

.team-acco__text {
  color: #fff; }

.team-acco__content {
  display: none; }

.team-acco__item_active .team-acco__trigger {
  color: #f8b43a; }
  .team-acco__item_active .team-acco__trigger:before {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg); }
.team-acco__item_active .team-acco__content {
  display: block; }

.reviews__list {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.reviews__item {
  height: 50%;
  width: 25%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-filter: grayscale(50%);
          filter: grayscale(50%);
  position: relative; }
  .reviews__item:hover .reviews__hover {
    opacity: 1; }

.reviews__hover {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(69, 69, 69, 0.7);
  opacity: 0;
  -webkit-transition: opacity .3s;
  transition: opacity .3s; }

.order {
  background: url("/img/content/order/order__bg.jpg") center center no-repeat;
  background-size: cover; }

.form__block-name {
  color: #fff; }

.form__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.form__input {
  border-radius: 5px;
  border: none;
  padding: 5px;
  width: 100%; }

.form__textarea {
  border-radius: 5px;
  border: none;
  padding: 5px;
  width: 100%; }

.form__section {
  width: 50%;
  padding: 20px; }

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px; }

.form__block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 20px; }
  .form__block:last-child {
    margin-right: 0; }

.form__block-checkbox {
  width: 11px;
  height: 11px;
  background: url("../img/general/check.png") center no-repeat;
  left: 3.5px;
  top: 1.5px; }

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 85px;
  overflow: hidden;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear; }

.menu__item-myas {
  background: url("../img/content/menu/menu__1.jpg") center no-repeat;
  background-size: cover; }

.menu__item-veget {
  background: url("../img/content/menu/menu__2.jpg") center no-repeat;
  background-size: cover; }

.menu__item-diet {
  background: url("../img/content/menu/menu__3.jpg") center no-repeat;
  background-size: cover; }

/*.menu__name {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  text-align: center;
  font-family: "Gagalin", Arial, sans-serif;
  letter-spacing: 0.125rem;
  font-size: 2.5rem;
  padding: 0 25px;
  position: relative;
  cursor: pointer;
}

.menu__name:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(47,50,52,0.7);
  z-index: -1;
}

.menu__text {
  padding: 4.0625rem 2.1875rem 0;
  width: 540px;
  max-width: 540px;
  font-size: 0.875rem;
  background: rgba(47,50,52,0.9);
  line-height: 1.5rem;
  height: 100%;
}

.menu__item--1 .menu__name {
  background: url("../img/content/menu/menu__1.jpg") center no-repeat;
  background-size: cover;
}

.menu__item--2 .menu__name {
  background: url("../img/content/menu/menu__2.jpg") center no-repeat;
  background-size: cover;
}

.menu__item--3 .menu__name {
  background: url("../img/content/menu/menu__3.jpg") center no-repeat;
  background-size: cover;
}*/

/*# sourceMappingURL=main.css.map */