.best {
    background-image: url('../img/content/about/about_bg.jpg');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .best__list {
    display: flex;
  }
  
  .best__item {
    margin-right: 20px;
  
    &:last-child {
      margin-right: 0;
    }
  }
  
  /*
  .best__description {
    flex-direction: column;
    justify-content: center;
  }
  */