.best {
    background-image: url('../img/bg/best-bg.png');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .best__list {
    display: flex;
  }
  
  .best__item {
    margin-right: 20px;
  
    &:last-child {
      margin-right: 0;
    }
  }
  /*
  .section__title--best {
    color: #2f3234;
    padding: 0;
    margin-bottom: rem(60px);
  }

  
  .best__description {
    flex-direction: column;
    justify-content: center;
  }
  */