.team {
    background: url('../img/content/team/team_bg.jpg') center center no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .team__container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 50%;
    background: rgba(#2f3234, .93);
    padding-left: 70px;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
  } 
  
  .team-acco__trigger {
    color: #fff;
    display: flex;
    align-items: center;
  
    &:before {
      content: "";
      height: 0;
      width: 0;
      border: 9px solid transparent;
      border-top-color: $yellow;
      border-bottom-width: 0px;
  
    }
  }
  
  .team-acco__content {
    display: flex;
  }
  
  .team-acco__pic-img{
    border-radius: 50%; 
  }

  .team-acco__text {
    color: #fff;
  }
  
  .team-acco__content {
    display: none;
  }

  .team-acco__item_active {
    .team-acco__trigger {
      color: $yellow;
  
      &:before {
        transform: rotate(-180deg);
      }
    }
  
    .team-acco__content {
      display: block;
    }
  }